*.swp
*.exe
Makefile*
/obj/
/bin/convert
/bin/t
/bin/settings.ini
moc*
*.moc
*.o
*.pro.user
/debug/
/release/
/bin/
object_script*
/installer/packages/convert/data
/installer/*.exe
/installer/**/*.xml
/installer/**/*.qs
/pkg/src/
/pkg/pkg/
/pkg/*tar.*
.MTREE
.PKGINFO
.qmake.stash
